// Theme colors
// https://coolors.co/79addc-ffc09f-fcf5c7-ffee93-adf7b6
$light-cobalt-blue: rgb(121, 173, 220);
$peach: rgb(255, 192, 159);
$lemon-chiffon: rgb(252, 245, 199);
$black: rgb(0, 0, 0);
$flavescent: rgb(255, 238, 147);
$celadon: rgb(173, 247, 182);
$white: rgb(255, 255, 255);
$gray-400: rgb(83, 82, 100);

$theme-primary: $light-cobalt-blue;
$theme-secondary: $peach;
$theme-light: $lemon-chiffon;
$theme-dark: $black;
$theme-primary-accent: $flavescent;
$theme-secondary-accent: $celadon;

// UI : status colors
$awesome: rgb(255, 40, 78);
$tigers-eye: rgb(226, 130, 54);
$malachite: rgb(30, 255, 86);
$electric-blue: rgb(72, 255, 248);

$theme-danger: $awesome;
$theme-warning: $tigers-eye;
$theme-success: $malachite;
$theme-info: $electric-blue;

$theme-colors: (
  "primary":            $theme-primary,
  "secondary":          $theme-secondary,
  "primary-accent":     $theme-primary-accent,
  "secondary-accent":   $theme-secondary-accent,
  "success":            $theme-success,
  "info":               $theme-info,
  "warning":            $theme-warning,
  "danger":             $theme-danger,
  "light":              $theme-light,
  "dark":               $theme-dark
);

$enable-rounded: false;
$input-border-color: transparent;
$card-border-width: 2px;

$font-family-sans-serif: 'Source Code Pro', monospace;
$headings-font-family: 'Josefin Sans', sans-serif;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
