@import 'vendor';

@import 'variables';
@import 'mixins';
@import 'fonts';

$sidebar-background: theme-color('primary');

html {
    height: 100%;
    body {
        height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        .chart-container {
            max-width: 100%;
            canvas {
                max-width: 100%;
            }
        }
        #app {
            &.full {
                background: theme-color('primary');
                background-size: contain;
                .sidebar-col,
                .section {
                    background: none;
                }
            }
            .animated-view {
                position: relative;
                > div {
                    position: absolute;
                }
            }
            .sidebar-col {
                background: $sidebar-background;
            }
            .text-underline {
                text-decoration: underline;
            }
            #sidebar {
                font-family: $headings-font-family;
                min-height: 100vh;
                #sidebar-toggle {
                    position: absolute;
                    top: 0;
                    right: 0;
                    opacity: 0;
                    visibility: hidden;
                    transform: translate3d(100%, 0, 0);
                    transition: all 0.3s ease-in-out;
                    .sidebar-menu-bar {
                        display: block;
                        position: relative;
                        margin: 4px auto;
                        width: 20px;
                        height: 2px;
                        background: theme-color('secondary');
                        transition: all 0.3s ease-in-out;
                    }
                }
                #sidebar-header {
                    #sidebar-logo {
                        height: 200px;
                        width: 128px;
                        background: darken(theme-color('primary'), 4%);
                        img {
                            transform: translate3d(0, -20px, 0);
                        }
                    }
                }
                #sidebar-menu {
                    margin-bottom: 3.5rem;
                    padding-left: 4rem;
                    .list-group-item {
                        padding: 1.5rem 1rem;
                    }
                    a {
                        position: relative;
                        color: theme-color('primary-accent');
                        text-transform: uppercase;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 16px;
                            height: 4px;
                            background: theme-color('secondary');
                            opacity: 0;
                            transform: translate3d(-300%, -50%, 0);
                            transition: all 0.3s ease-in-out;
                        }
                        &:active,
                        &:hover,
                        &:focus,
                        &.active {
                            &:before {
                                opacity: 1;
                                transform: translate3d(-200%, -50%, 0);
                            }
                        }
                    }
                }
                #locale-selectors {
                    position: absolute;
                    bottom: 0;
                    right: 20px;
                    z-index: 50;
                    .btn-locale-selector {
                        padding: 11px 15px;
                        font-size: 12px;
                        font-weight: 900;
                        line-height: 18px;
                        text-transform: uppercase;
                        border: 0;
                        &.btn-primary {
                            background: darken(theme-color('primary'), 12%);
                        }
                    }
                }
            }
            .prepend-line {
                position: relative;
                padding-left: 30px;
                color: theme-color('dark');
                letter-spacing: 0.05em;
                &:before {
                    content: '';
                    position: absolute;
                    left: 8px;
                    top: 50%;
                    width: 16px;
                    height: 1px;
                    opacity: 0.2;
                    background: gray('400');
                    transform: translate3d(0,- 50%, 0);
                }
            }
            .section {
                position: relative;
                min-height: 100vh;
                padding: 1rem 0.5rem;
                z-index: 10;
                background: white;
                .section-title {
                    margin: 1rem 0;
                    font-size: 2.25rem;
                    line-height: (5/3);
                    font-weight: 900;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                }
                .section-subtitle {
                    margin: 1rem 0;
                    font-family: $font-family-sans-serif;
                    font-size: 1.8rem;
                    line-height: (5/3);
                }
            }
            .table {
                margin: 0 auto;
                .table-figure {
                    font-size: 1.6rem;
                    font-weight: 900;
                    color: theme-color('secondary');
                }
                thead {
                    tr {
                        border-bottom: 4px solid white;
                        th {
                            padding: 1rem;
                            font-family: $headings-font-family;
                            font-size: 1.2rem;
                            font-weight: 900;
                            line-height: 3rem;
                            background: theme-color('light');
                            color: theme-color('dark');
                            border: none;
                            border-right: 1px solid white;
                        }
                    }
                }
                tbody {
                    tr {
                        &:first-child {
                            td {
                                border-top: none;
                            }
                        }
                        &:last-child {
                            td {
                                border-bottom: none;
                            }
                        }
                        td {
                            position: relative;
                            padding: 1rem;
                            border: 1px solid theme-color('dark');
                            border-left: none;
                            &:last-child {
                                border-right: none;
                            }
                        }
                    }
                }
            }
            .btn {
                font-weight: 700;
                &.btn-primary {
                    color: theme-color('secondary');
                }
                &.btn-table-action {
                    position: absolute;
                    bottom: 0;
                    right: 20px;
                }
            }
            .card {
                &.card-table {
                    padding: 0.375rem;
                }
                &.card-strict {
                    overflow: hidden;
                }
                .card-introduction {
                    font-size: 11px;
                    font-weight: 400;
                    letter-spacing: 0.05rem;
                    color: gray('400')
                }
                .card-title {
                    margin: 0.375rem 0;
                    font-weight: 900;
                }
                .card-text {
                    line-height: 1.5rem;
                }
                .card-top-actions,
                .card-bottom-actions {
                    position: absolute;
                    right: 20px;
                    .btn {
                        margin: 0 1px;
                        text-transform: uppercase;
                    }
                }
                .card-top-actions {
                    top: 0;
                    transform: translate3d(0, -100%, 0);
                }
                .card-bottom-actions {
                    bottom: 0;
                }
                .card-footer-quote {
                    margin: 0 4px 4px;
                    border: 0;
                    background: theme-color('light');
                    .card-quote {
                        max-width: 60%;
                    }
                }
                .card-category-icon {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 140px;
                    height: 140px;
                    margin: 0;
                    border-radius: 50%;
                    background: theme-color('dark');
                    color: theme-color('light');
                    transform: translate3d(50%, -50%, 0);
                    .fa {
                        position: absolute;
                        bottom: 15px;
                        left: 20px;
                        font-size: 2rem;
                        transform: translate3d(50%, -50%, 0);
                    }
                }
                .card-tags {
                    .badge {
                        padding: 0.5rem 0.75rem;
                        font-size: 0.8rem;
                        margin-right: 0.5rem;
                    }
                }
                .card-quote {
                    margin: 0 auto;
                    padding: 1rem 0;
                    font-size: 0.9rem;
                    font-style: italic;
                    line-height: 1.4;
                    text-align: center;
                    color: theme-color('dark');
                }
            }
            .gauge-caption {
                color: theme-color('secondary');
                font-weight: 900;
                text-transform: uppercase;
            }
            #login-button {
                position: absolute;
                top: 40px;
                right: 15px;
            }
            #login-form {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 2rem;
                opacity: 0;
                background: white;
                z-index: 1000;
                transform: translate3d(0, -100%, 0);
                transition: all 0.3s ease-in-out;
                #authentication-error {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin: 0 auto;
                    opacity: 0;
                    transform: translate3d(-50%, -100%, 0);
                    transition: all 0.33s ease-in-out;
                    &.is-displayed {
                        opacity: 1;
                        transform: translate3d(-50%, 10px, 0);
                    }
                }
                .form-group {
                    padding: 2rem 1rem;
                }
                .form-control {
                    color: theme-color('secondary');
                    text-transform: uppercase;
                    border-bottom: 1px solid theme-color('secondary');
                    max-width: 220px;
                    &.is-invalid {
                        border-bottom-color: theme-color('danger');
                    }
                    &:focus {
                        border-color: transparent;
                        border-bottom-color: theme-color('secondary');
                        box-shadow: 0 0 0 0.2rem rgba(theme-color('secondary'), 0.25);
                    }
                }
                .invalid-feedback {
                    position: absolute;
                    bottom: 10px;
                    max-width: 220px;
                }
                &.is-displayed {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }
            .app-baseline {
                margin-bottom: 2rem;
                font-size: 2.4rem;
                line-height: 1.4;
                font-weight: 900;
                color: white;
            }
            #market-place-filters-form {
                .form-control {
                    border-radius: 30px;
                    background: theme-color('light');
                }
            }
            #xhr-loader {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 1050;
                opacity: 0;
                visibility: hidden;
                transition: all 0.15s ease-in-out;
                background: rgba(theme-color('light'), 0.95);
                color: theme-color('secondary');
                &.is-displayed {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        @include media-breakpoint-down(lg) {
            #app {
                &.full {
                    background-center: center;
                    background-size: cover;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            #app {
                .sidebar-col {
                    position: fixed;
                    top: 0;
                    left: 0;
                    padding: 0;
                    width: 100%;
                    z-index: 1000;
                    transform: translate3d(-100%, 0, 0);
                    transition: all 0.3s ease-in-out;
                }
                #sidebar {
                    background: $sidebar-background;
                    #sidebar-toggle {
                        opacity: 1;
                        visibility: visible;
                    }
                    #sidebar-header {
                        #sidebar-logo {
                            position: relative;
                            left: 30px;
                            height: 120px;
                            width: 64px;
                            img {
                                width: auto;
                                height: 22px;
                            }
                        }
                    }
                    #sidebar-menu {
                        margin-bottom: 1em;
                        padding-left: 4rem;
                        .list-group-item {
                            padding: 0.375rem 1rem;
                        }
                    }
                }
                &.sidebar-open {
                    .sidebar-col {
                        transform: translate3d(0, 0, 0);
                    }
                    #sidebar {
                        #sidebar-toggle {
                            transform: translate3d(0, 0, 0);
                            .sidebar-menu-bar {
                                &:nth-child(1) {
                                    transform: translate3d(0, 6px, 0) rotate(45deg);
                                }
                                &:nth-child(2) {
                                    opacity: 0;
                                }
                                &:nth-child(3) {
                                    transform: translate3d(0, -6px, 0) rotate(-45deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
