@import 'variables';
@import 'mixins';

// https://getbootstrap.com/
@import 'bootstrap';

// https://github.com/ConnorAtherton/loaders.css
$primary-color: theme-color('secondary');
@import '~loaders.css/src/animations/ball-clip-rotate-multiple.scss';

.loader-hidden {
    display: none;
}
.loader-active {
    display: inline-block;
}
